.container{
    background-color: rgba(0, 0, 0, 0.6);
    width: 30rem;
    height: 8rem;
    padding: 20px 17px ;
    margin: 3rem;
    margin-top: 12rem;
    margin-bottom: 9rem;
    color: white;
    

}
.title{
    font-size: 2.2rem;
    padding-top: 4px;
    margin: 0;
}
span{
    color: aqua;
}