.container9{
    background-color: white;
    margin-top:100px;
    position: relative;
    /* top: -400px; */
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: -300px;
}
.container9 h1{
    text-align: center;
}
.advisors-img-section{
    /* display: flex;
    flex-wrap: wrap; */
}

.image-container3{
    width: 120px;
    border: 2px solid black;
    height: 120px;
    border-radius: 50%;
    background-image: url("profile1.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
    left: 100px;
    
}
.image-container4{
    width: 120px;
    border: 2px solid black;
    height: 120px;
    border-radius: 50%;
    background-image: url("/src/assets/img/profile2.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
    left: 100px;
}
.hr1{
    border: 2px solid black;
    margin-left: 36.5rem;
    margin-right: 36.5rem;
}
.inner-container{
    display: flex;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 7rem;
}
.box-3{
    width: 40%;
    line-height: 30px;
    display:flex ;
    flex-wrap: wrap;
}
.box-3 h2{
    padding-left: 1.5rem;
    
    
}
.box-3 a{
    color: black;
}
.box-4{
    width: 40%;
    line-height: 30px;
}
.box-4 h2{
    padding-left: 1.5rem;
}
.box-4 a{
    color: black;
}
