.container5{
    position: relative;
    top: 250px;
    background-color: rgb(223, 223, 223);
    padding: 25px 25px;
    padding-bottom:60px ;
    overflow: hidden;

}
.container5 h1{
    text-align: center;
    color: rgb(1, 64, 88);
}
.main-box{
    display: flex;
    
    
}
.box1-text{
    font-size: 15px;
    max-width: 60%;
    
}
.box-1{
    margin-top: 2.2rem;
    padding:0rem 5rem 0rem 5rem;
}
.contact{
    display: flex;
    
}
.box-1 p{
    font-size: 17px;
    padding-right: 70px;
   
}
.box-1 div{
    font-size: 13px;
    
    
}


.form-group {
    position: relative;
    margin-bottom: 1.5em;
    margin-top: 2rem;
}
  
input, textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
/*   
label {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    background: transparent;
    color: #999;
    font-size: 1em;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}
   */
  /* input:focus + label,
  textarea:focus + label,
  input:not(:placeholder-shown) + label,
  textarea:not(:placeholder-shown) + label {
    top: -0.6em;
    left: 0.5em;
    font-size: 0.8em;
    color: #333;
    background-color: white; 
    padding: 0 0.2em;
  } */
input{
    border: 0;
    background: transparent;
}
input:active{
    border: 0;

}
input:hover{
    border: 0;
}
textarea{
    resize: none;
    width: 100%;
    height: 120px;
    background-color: rgb(188, 188, 188);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.button2{
    width: 100%;
    background-color: rgb(1, 64, 88);
    color: rgb(246, 246, 246);
    font-size: 1rem;
    font-weight: 200;
    border: 0;
    margin-top: 10px;
    padding: 5.5px;
    border-radius: 5px;
}
.container6 {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 250px;
    padding: 2rem;
    overflow: hidden;
}

.logo-copyright {
    flex: 0 1 auto;
    padding-left: 2rem ;
    white-space: nowrap;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    justify-content: start;
    flex: 0 1 auto;
    max-width: 50%;
}
.footer-links a{
    text-decoration: none;
    color: rgb(1, 64, 88);
}

.item {
    text-align: left;
    padding: 10px;
}

.logo-copyright p{
    font-size: 1rem;
}
.h1{
    font-weight: 500;
    font-size: 1.7rem;
}